<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Event Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    </head>
    <body>
        <div class="container-fluid">
            <h1 >Event Details</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Start Registrations</th>
                        <th>End Registrations</th>
                        <th>Lugar</th>
                        <th>Capacity</th>
                        <th>Private Event</th>
                        <th>Cost</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:object="${event}">
                        <td th:text="${event.eventName}"></td>
                        <td th:text="${event.eventDate}"></td>
                        <td th:text="${event.startRegistrations}"></td>
                        <td th:text="${event.endRegistrations}"></td>
                        <td th:text="${event.lugar}"></td>
                        <td th:text="${event.capacity}"></td>
                        <td th:text="${event.privateEvent}"></td>
                        <td th:text="${event.cost}"></td>

                        <td><a class="badge" th:href="@{/events/{id}/edit(id=${event.id})}">Edit</a></td>
                        <td> <a class="badge" th:href="@{/events/{id}/delete(id=${event.id})}">Delete</a></td>


                    </tr>
                <a class="badge badge-primary" th:href="@{/events}">Volver</a>
                </tbody>
            </table>
        </div>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

        <div>
            <h1 >Listado de Inscriptos </h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="registration : ${registrations}">
                        <td th:text="${registration.user.firstName}"></td>
                        <td th:text="${registration.user.lastName}"></td>
                        <td th:text="${registration.user.email}"></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>


        <div>
            <h1 >Listado de Invitaciones</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="invite : ${invites}">
                        <td th:text="${invite.user.firstName}"></td>
                        <td th:text="${invite.user.lastName}"></td>
                        <td th:text="${invite.user.email}"></td>
                        <td> <a class="badge" th:href="@{/invites/{id}/delete(id=${invite.id})}">Delete</a></td>
                    </tr>
                </tbody>

            </table>        
        </div>

    </body>
</html>