<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<style type="text/css">
  .badge{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color:  #4b5e9e ;
    background-color:  #8f9ccb;
    border-radius: 15px;
    border: 3px double #02308b;
  }
  .badge:hover{
    opacity: 0.6;
    text-decoration: none;
  }
</style>

        <title>Events</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">



    </head>
    <body>
        <div class="container-fluid">
            <h1 >Event List</h1>
            <h2 >Aquí puede ver los diferentes eventos</h2>




          <a class="badge" th:href="@{/events/new}">New Event</a>
          <a class="badge" th:href="@{/events/myEvents}">My Event</a>
           <a class="badge" th:href="@{/registrations/myRegistrations}">My registrations</a>


            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Start Registrations</th>
                        <th>End Registrations</th>
                        <th>Lugar</th>
                        <th>Available</th>
                        <th>Private Event</th>
                        <th>Free</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}">
                        <td th:text="${event.eventName}"></td>
                        <td th:text="${event.eventDate}"></td>
                        <td th:text="${event.startRegistrations}"></td>
                        <td th:text="${event.endRegistrations}"></td>
                        <td th:text="${event.lugar}"></td>
                        <td th:text="${event.isAvailableQuota()}"></td>
                        <td th:text="${event.privateEvent}"></td>
                        <td th:text="${event.isFree()}"></td>
                        <td><a class="badge" th:href="@{/registrations/{id}/registrate(id=${event.id})}">Registrate</a></td>
                    </tr>
                </tbody>
            </table>
          <p></p>
          <a class="badge" th:href="@{/logout}">LogOut</a>
        </div>
        
        <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    </body>
</html>
