<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>  
    </head>
        <body>
            <div>
                <h1>Nuevo Evento</h1><br>
                <h5>Aquí podrá crear sus eventos.</h5>   
            </div>
        <div>Describa aqui los datos necesarios del evento</div>
        <form action="#" th:action="@{/events}" th:object="${event}" method="post">
            Event Name:<input type="text" th:field="*{eventName}" /> <br>
            Event Date:<input type="date" th:field="*{eventDate}" /> <br>
            Start Registrations:<input type="date" th:field="*{startRegistrations}" /> <br>
            End Registrations:<input type="date" th:field="*{endRegistrations}" /> <br>
            Lugar:<input type="text" th:field="*{lugar}" /> <br>
            Capacity:<input type="text" th:field="*{capacity}" /> <br>
            Cost:<input type="text" th:field="*{cost}" /> <br>
            Private Event:<input type="checkbox" th:field="*{privateEvent}" />
                                        <p></p>
            <button type="submit" name="newEvent">Create</button>
           <a class="badge" th:href="@{/events}">Volver</a>
           <!-- <a class="badge" th:href="@{/registrations/{id}/logOut(id=${event.id})}">LogOut</a>
            <button type="submit" name="logOut">Create</button>-->
      
            
        </form>
    </body>
</html>
