<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">    
        <link rel="stylesheet" type="text/css"  href="/css/style.css" media="screen"/> 
        <link rel="stylesheet" type="text/css"  href="/css/new-edit.css" media="screen"/> 
        <link rel="stylesheet" type="text/css"  href="/css/boton.css" media="screen"/> 

    </head>



    <body>



        <!-- Filter: https://css-tricks.com/gooey-effect/ -->
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
    <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />    
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
        <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
    </defs>
    </svg>

    <h1>Página principal <br><img src="/img/wagu_1-0.png" alt="" width="500" height="250" align="center"/></h1>
    <h5> Bienvenido  </h5>
   
    <div class="wrapper">
        <h1><a class="button" th:href="@{/users/new}">Nuevo usuario</a></h1>
 
    <div class="wrapper">
        <h1><a class="button" th:href="@{/login}">Iniciar secion</a></h1>
    </div>


</body>
</html>
